server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health,info

jwt:
  secret: oTIu0wcG74gvm+AtU907bamJK3EraoAgcAia09SmWIZgsKUFipeU12DmPawCVPO8FZUf4PJGL5fXWrNDoVG4uQ==
  clock-skew-seconds: 0

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://moirai-auth-service:8082
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1
            - id: alloc-monolith
              uri: http://moirai-core-service-dev:8080
              predicates:
                - Path=/api/**
              filters:
                - StripPrefix=1
            - id: ai
              uri: http://moirai-rag-service:8000
              predicates:
                - Path=/api/projects/**
              filters:
                - StripPrefix=1
